<%= form_for(@vacation) do |f| %>
  <% if @vacation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vacation.errors.count, "error") %> prohibited this vacation from being saved:</h2>

      <ul>
      <% @vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  
   <div class="control-group">
  <%= f.label :employee_id, class: 'control-label' %>
      <div class="controls">
        <%= collection_select( :invoice, :employee_id, Employee.all, :id, :name, {}, { :multiple => false } ) %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label :days %><br>
    <%= f.number_field :days %>
  </div>

  <div class="field">
    <%= f.label :dept %><br>
    <%= f.text_field :dept %>
  </div>
  
 <br/>
 <div class="control-group">
    <%= f.label "Status", class: 'control-label' %>
      <div class="controls">
    	<%= f.select(:status_type, options_for_select([['APPROVED', 'APPROVED'], ['PENDING', 'PENDING']]), { include_blank: true }) %> 
    </div>
</div>
  
  
  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-mini btn-danger'  %>
  </div>
<% end %>
