<!DOCTYPE html>
<html>
<head>
  <title>HR Dept Vacation Planner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container"><!-- Start Nav Containter-->
  <ul class="nav nav-tabs">
      <li><%= link_to "home", root_path %></li>
      <li><%= link_to "About", welcome_about_path %></li>
           <li><%= link_to "Vacation", vacations_path %></li>
      <li><%= link_to "Contact", welcome_contact_path %></li>
      <li><%= link_to "Login / Register", root_path %></li>
  </ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div> <!-- Closes Containter-->

</body>
</html>
